/seciones/conceptosBasicos/target/
/tareas/ProyectoComposicion/target/
/tareas/Javabasico/nbproject/private/
/tareas/Javabasico/build/
/tareas/Banco/nbproject/private/
/tareas/Banco/build/
/tareas/Banco/dist/
